<mat-form-field class="search">
    <mat-label>GIFs</mat-label>
    <input matInput type="text" value="giphy" name="gif" [(ngModel)]="giphySearch" (ngModelChange)="onSearchGif($event)"/>
</mat-form-field>

<mat-grid-list cols="3" rowHeight="200px">
        <mat-grid-tile *ngFor="let linkGif of loadedGifs">
            <img [src]="linkGif.images.fixed_height.url" cdkDrag />
            <button class="button-like" mat-mini-fab [color]="liked ? 'warn' : 'primary' " aria-label="Example icon button with a heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
        </mat-grid-tile>
</mat-grid-list>
